@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{    --bronze: #C5A092;    

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif
 ;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.bloco-central {
    width: 390px;
    height: 844px; ;
    padding: 20px;
    background: white;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(232,216,175,1) 72%);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.logo{
    width: 4rem;
    
}

.profile{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 140px 103px auto 102px;    
}

.pf_pic{
    width: 11.56rem;
    height: auto;
}

.pf_name{
    white-space: nowrap;
    text-align: center;
    margin-top:1.69rem;        
    font-weight: 700;
    margin-bottom: 4.75rem;
}
    


button.login {
    border-radius: 25px;
    color: var(--bronze) !important;
    font-family: var(--fonte);        
    font-weight: 600;     
    margin-bottom: 21px;   
    }

    button.cng{
        color: black;
        text-decoration: none;
    }

    



